# 패키지 불러오기

In [17]:
import pandas as pd
import numpy as np
import json, os
import os

# Data Load

In [18]:
PATH = 'C:/apps/analysis/election/'
df_1976 = pd.read_csv(PATH + "1976.csv", encoding='utf-8-sig')
df_1980 = pd.read_csv(PATH + "1980.csv", encoding='utf-8-sig')
df_1984 = pd.read_csv(PATH + "1984.csv", encoding='utf-8-sig')
df_1988 = pd.read_csv(PATH + "1988.csv", encoding='utf-8-sig')
df_1992 = pd.read_csv(PATH + "1992.csv", encoding='utf-8-sig')
df_1996 = pd.read_csv(PATH + "1996.csv", encoding='utf-8-sig')
df_2000 = pd.read_csv(PATH + "2000.csv", encoding='utf-8-sig')
df_2004 = pd.read_csv(PATH + "2004.csv", encoding='utf-8-sig')
df_2008 = pd.read_csv(PATH + "2008.csv", encoding='utf-8-sig')
df_2012 = pd.read_csv(PATH + "2012.csv", encoding='utf-8-sig')
df_2016 = pd.read_csv(PATH + "2016.csv", encoding='utf-8-sig')
df_2020 = pd.read_csv(PATH + "2020.csv", encoding='utf-8-sig')

In [118]:
state_info = df_1976[['state', 'state_po']]
state_info = state_info.drop_duplicates(['state'], keep = 'first').groupby('state').sum()
state_info = state_info.rename(columns = {'state_po':'iso'})[['iso']]
state_info.head()

           iso
state
ALABAMA     AL
ALASKA      AK
ARIZONA     AZ
ARKANSAS    AR
CALIFORNIA  CA

In [119]:
import json

with open('C:/apps/analysis/election/state_code.json', 'r', encoding='utf-8-sig') as json_file:
    json_data = json.load(json_file)
    print (json_data.keys())

dict_keys(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA', 'COLORADO', 'CONNECTICUT', 'DELAWARE', 'DISTRICT OF COLUMBIA', 'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS', 'INDIANA', 'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND', 'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI', 'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE', 'NEW JERSEY', 'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA', 'NORTH DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA', 'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE', 'TEXAS', 'UTAH', 'VERMONT', 'VIRGINIA', 'WASHINGTON', 'WEST VIRGINIA', 'WISCONSIN', 'WYOMING'])

In [120]:
df_lat = pd.read_csv('C:/apps/analysis/lat.csv')
df_long = pd.read_csv('C:/apps/analysis/long.csv')
df_geo = pd.merge(df_lat, df_long, how = 'left', on = 'id')
df_geo = df_geo.rename(columns = {'id':'state', 'mead_long_x':'lat', 'mead_long_y':'long'})[['state', 'lat', 'long']]
df_geo['state'] = df_geo['state'].str.upper()
df_geo.head()

        state        lat        long
0     ALABAMA  31.646067  -86.889627
1      ALASKA  24.542507 -112.096555
2     ARIZONA  34.675815 -113.721117
3    ARKANSAS  34.942879  -91.650766
4  CALIFORNIA  36.159761 -120.356850

In [121]:
df_1976 = pd.read_csv(PATH + "1976.csv", encoding='utf-8-sig')
df_1976.drop('notes', axis=1)
df_1976 = df_1976.drop('writein', axis=1)
df_1976 = df_1976[['state', 'candidatevotes']]
df_1976 = df_1976.groupby('state').sum()
data = pd.read_csv(PATH + "1976.csv", encoding='utf-8-sig')
date_column = data['year'][0]
df_1976.columns = [date_column]
df_1976

                         1976
state
ALABAMA               1182850
ALASKA                 123574
ARIZONA                742719
ARKANSAS               767535
CALIFORNIA            7803770
COLORADO              1081440
CONNECTICUT           1386355
DELAWARE               235642
DISTRICT OF COLUMBIA   168830
FLORIDA               3150631
GEORGIA               1463152
HAWAII                 291301
IDAHO                  340932
ILLINOIS              4721282
INDIANA               2220362
IOWA                  1279303
KANSAS                 957845
KENTUCKY              1167142
LOUISIANA             1277383
MAINE                  482968
MARYLAND              1432273
MASSACHUSETTS         2547558
MICHIGAN              3651590
MINNESOTA             1949931
MISSISSIPPI            768390
MISSOURI              1953600
MONTANA                328734
NEBRASKA               606749
NEVADA                 201876
NEW HAMPSHIRE          339627
NEW JERSEY            3014472
NEW MEXICO             416590
NEW YORK              6668262
NORTH CAROLINA        1677906
NORTH DAKOTA           297308
OHIO                  4110456
OKLAHOMA              1092251
OREGON                1029876
PENNSYLVANIA          4620787
RHODE ISLAND           410584
SOUTH CAROLINA         802583
SOUTH DAKOTA           300678
TENNESSEE             1476346
TEXAS                 4071884
UTAH                   541218
VERMONT                183902
VIRGINIA              1697094
WASHINGTON            1555534
WEST VIRGINIA          750590
WISCONSIN             2101336
WYOMING                156343

In [122]:
df_1980 = pd.read_csv(PATH + "1980.csv", encoding='utf-8-sig')
df_1980.drop('notes', axis=1)
df_1980 = df_1980.drop('writein', axis=1)
df_1980 = df_1980[['state', 'candidatevotes']]
df_1980 = df_1980.groupby('state').sum()
data = pd.read_csv(PATH + "1980.csv", encoding='utf-8-sig')
date_column = data['year'][0]
df_1980.columns = [date_column]
df_1980

                         1980
state
ALABAMA               1341929
ALASKA                 158445
ARIZONA                873945
ARKANSAS               837582
CALIFORNIA            8582938
COLORADO              1184450
CONNECTICUT           1406285
DELAWARE               235668
DISTRICT OF COLUMBIA   173889
FLORIDA               3686927
GEORGIA               1596805
HAWAII                 303287
IDAHO                  437431
ILLINOIS              4749721
INDIANA               2242033
IOWA                  1317661
KANSAS                 979795
KENTUCKY              1295627
LOUISIANA             1548591
MAINE                  523011
MARYLAND              1540496
MASSACHUSETTS         2524090
MICHIGAN              3909725
MINNESOTA             2051916
MISSISSIPPI            891750
MISSOURI              2099824
MONTANA                363952
NEBRASKA               639533
NEVADA                 243692
NEW HAMPSHIRE          383990
NEW JERSEY            2975684
NEW MEXICO             456237
NEW YORK              6201959
NORTH CAROLINA        1855833
NORTH DAKOTA           301116
OHIO                  4283603
OKLAHOMA              1149708
OREGON                1181516
PENNSYLVANIA          4561501
RHODE ISLAND           415967
SOUTH CAROLINA         888258
SOUTH DAKOTA           327703
TENNESSEE             1617616
TEXAS                 4541636
UTAH                   604152
VERMONT                213299
VIRGINIA              1866032
WASHINGTON            1742394
WEST VIRGINIA          737715
WISCONSIN             2273221
WYOMING                176713

In [123]:
df_1984 = pd.read_csv(PATH + "1984.csv", encoding='utf-8-sig')
df_1984.drop('notes', axis=1)
df_1984 = df_1984.drop('writein', axis=1)
df_1984 = df_1984[['state', 'candidatevotes']]
df_1984 = df_1984.groupby('state').sum()
data = pd.read_csv(PATH + "1984.csv", encoding='utf-8-sig')
date_column = data['year'][0]
df_1984.columns = [date_column]
df_1984

                         1984
state
ALABAMA               1441713
ALASKA                 207605
ARIZONA               1025897
ARKANSAS               884406
CALIFORNIA            9505041
COLORADO              1295380
CONNECTICUT           1466900
DELAWARE               254572
DISTRICT OF COLUMBIA   211288
FLORIDA               4180051
GEORGIA               1776103
HAWAII                 335846
IDAHO                  411144
ILLINOIS              4819088
INDIANA               2233069
IOWA                  1319805
KANSAS                1021991
KENTUCKY              1369345
LOUISIANA             1706822
MAINE                  553144
MARYLAND              1675873
MASSACHUSETTS         2559383
MICHIGAN              3801658
MINNESOTA             2084449
MISSISSIPPI            941104
MISSOURI              2122771
MONTANA                384377
NEBRASKA               652090
NEVADA                 282717
NEW HAMPSHIRE          388904
NEW JERSEY            3217862
NEW MEXICO             514370
NEW YORK              6806810
NORTH CAROLINA        2175361
NORTH DAKOTA           308971
OHIO                  4563235
OKLAHOMA              1255676
OREGON                1226527
PENNSYLVANIA          4844903
RHODE ISLAND           410489
SOUTH CAROLINA         968529
SOUTH DAKOTA           317867
TENNESSEE             1711993
TEXAS                 5397571
UTAH                   629656
VERMONT                234561
VIRGINIA              2146635
WASHINGTON            1874910
WEST VIRGINIA          735742
WISCONSIN             2211689
WYOMING                188968

In [124]:
df_1988 = pd.read_csv(PATH + "1988.csv", encoding='utf-8-sig')
df_1988.drop('notes', axis=1)
df_1988 = df_1988.drop('writein', axis=1)
df_1988 = df_1988[['state', 'candidatevotes']]
df_1988 = df_1988.groupby('state').sum()
data = pd.read_csv(PATH + "1988.csv", encoding='utf-8-sig')
date_column = data['year'][0]
df_1988.columns = [date_column]
df_1988

                         1988
state
ALABAMA               1378476
ALASKA                 200116
ARIZONA               1171873
ARKANSAS               827738
CALIFORNIA            9887065
COLORADO              1372394
CONNECTICUT           1443394
DELAWARE               249891
DISTRICT OF COLUMBIA   192877
FLORIDA               4302313
GEORGIA               1809672
HAWAII                 354461
IDAHO                  408968
ILLINOIS              4559120
INDIANA               2168621
IOWA                  1225614
KANSAS                 993044
KENTUCKY              1322517
LOUISIANA             1628202
MAINE                  555035
MARYLAND              1714358
MASSACHUSETTS         2632801
MICHIGAN              3669163
MINNESOTA             2096790
MISSISSIPPI            931527
MISSOURI              2093228
MONTANA                365674
NEBRASKA               661465
NEVADA                 343133
NEW HAMPSHIRE          450525
NEW JERSEY            3099553
NEW MEXICO             521387
NEW YORK              6485683
NORTH CAROLINA        2134370
NORTH DAKOTA           297261
OHIO                  4393585
OKLAHOMA              1171036
OREGON                1201694
PENNSYLVANIA          4536251
RHODE ISLAND           404622
SOUTH CAROLINA         986009
SOUTH DAKOTA           312991
TENNESSEE             1636250
TEXAS                 5427410
UTAH                   647008
VERMONT                243328
VIRGINIA              2191609
WASHINGTON            1865253
WEST VIRGINIA          653311
WISCONSIN             2191608
WYOMING                176551

In [125]:
df_1992 = pd.read_csv(PATH + "1992.csv", encoding='utf-8-sig')
df_1992.drop('notes', axis=1)
df_1992 = df_1992.drop('writein', axis=1)
df_1992 = df_1992[['state', 'candidatevotes']]
df_1992 = df_1992.groupby('state').sum()
data = pd.read_csv(PATH + "1992.csv", encoding='utf-8-sig')
date_column = data['year'][0]
df_1992.columns = [date_column]
df_1992

                          1992
state
ALABAMA                1688060
ALASKA                  258506
ARIZONA                1486975
ARKANSAS                950653
CALIFORNIA            11131721
COLORADO               1569180
CONNECTICUT            1616156
DELAWARE                289620
DISTRICT OF COLUMBIA    227572
FLORIDA                5313392
GEORGIA                2321133
HAWAII                  372842
IDAHO                   482114
ILLINOIS               5050157
INDIANA                2305871
IOWA                   1354607
KANSAS                 1157236
KENTUCKY               1492900
LOUISIANA              1790017
MAINE                   679499
MARYLAND               1984580
MASSACHUSETTS          2773664
MICHIGAN               4274673
MINNESOTA              2347948
MISSISSIPPI             981793
MISSOURI               2391270
MONTANA                 410583
NEBRASKA                737546
NEVADA                  506318
NEW HAMPSHIRE           537215
NEW JERSEY             3343594
NEW MEXICO              569986
NEW YORK               7079432
NORTH CAROLINA         2611850
NORTH DAKOTA            308133
OHIO                   4939967
OKLAHOMA               1390359
OREGON                 1462643
PENNSYLVANIA           4959810
RHODE ISLAND            453365
SOUTH CAROLINA         1228912
SOUTH DAKOTA            336254
TENNESSEE              1982638
TEXAS                  6154018
UTAH                    743998
VERMONT                 289701
VIRGINIA               2559129
WASHINGTON             2287565
WEST VIRGINIA           683677
WISCONSIN              2531064
WYOMING                 199884

In [126]:
df_1996 = pd.read_csv(PATH + "1996.csv", encoding='utf-8-sig')
df_1996.drop('notes', axis=1)
df_1996 = df_1996.drop('writein', axis=1)
df_1996 = df_1996[['state', 'candidatevotes']]
df_1996 = df_1996.groupby('state').sum()
data = pd.read_csv(PATH + "1996.csv", encoding='utf-8-sig')
date_column = data['year'][0]
df_1996.columns = [date_column]
df_1996

                          1996
state
ALABAMA                1534349
ALASKA                  241620
ARIZONA                1404405
ARKANSAS                884262
CALIFORNIA            10019469
COLORADO               1510702
CONNECTICUT            1392614
DELAWARE                270810
DISTRICT OF COLUMBIA    185726
FLORIDA                5303154
GEORGIA                2298899
HAWAII                  360120
IDAHO                   491711
ILLINOIS               4311391
INDIANA                2135431
IOWA                   1234075
KANSAS                 1074300
KENTUCKY               1388708
LOUISIANA              1783959
MAINE                   605897
MARYLAND               1780870
MASSACHUSETTS          2556459
MICHIGAN               3848844
MINNESOTA              2192492
MISSISSIPPI             893857
MISSOURI               2158065
MONTANA                 407083
NEBRASKA                677415
NEVADA                  464279
NEW HAMPSHIRE           496597
NEW JERSEY             3075860
NEW MEXICO              556074
NEW YORK               6439129
NORTH CAROLINA         2515807
NORTH DAKOTA            266411
OHIO                   4534434
OKLAHOMA               1206713
OREGON                 1377760
PENNSYLVANIA           4501307
RHODE ISLAND            390247
SOUTH CAROLINA         1150182
SOUTH DAKOTA            323826
TENNESSEE              1894105
TEXAS                  5611644
UTAH                    665629
VERMONT                 258449
VIRGINIA               2416642
WASHINGTON             2253837
WEST VIRGINIA           636459
WISCONSIN              2196169
WYOMING                 211571

In [127]:
df_2000 = pd.read_csv(PATH + "2000.csv", encoding='utf-8-sig')
df_2000.drop('notes', axis=1)
df_2000 = df_2000.drop('writein', axis=1)
df_2000 = df_2000[['state', 'candidatevotes']]
df_2000 = df_2000.groupby('state').sum()
data = pd.read_csv(PATH + "2000.csv", encoding='utf-8-sig')
date_column = data['year'][0]
df_2000.columns = [date_column]
df_2000

                          2000
state
ALABAMA                1666272
ALASKA                  285560
ARIZONA                1532016
ARKANSAS                921781
CALIFORNIA            10965822
COLORADO               1741368
CONNECTICUT            1459525
DELAWARE                327529
DISTRICT OF COLUMBIA    201894
FLORIDA                5963110
GEORGIA                2583208
HAWAII                  367951
IDAHO                   501615
ILLINOIS               4742108
INDIANA                2199302
IOWA                   1353022
KANSAS                 1072216
KENTUCKY               1544106
LOUISIANA              1765656
MAINE                   651817
MARYLAND               2025212
MASSACHUSETTS          2733964
MICHIGAN               4232501
MINNESOTA              2438685
MISSISSIPPI             994184
MISSOURI               2359892
MONTANA                 410986
NEBRASKA                697019
NEVADA                  609426
NEW HAMPSHIRE           569081
NEW JERSEY             3187226
NEW MEXICO              598605
NEW YORK               6960215
NORTH CAROLINA         2914990
NORTH DAKOTA            288256
OHIO                   4701998
OKLAHOMA               1234229
OREGON                 1533950
PENNSYLVANIA           4912185
RHODE ISLAND            409112
SOUTH CAROLINA         1383902
SOUTH DAKOTA            316269
TENNESSEE              2076181
TEXAS                  6407637
UTAH                    770754
VERMONT                 294308
VIRGINIA               2739447
WASHINGTON             2487433
WEST VIRGINIA           648124
WISCONSIN              2598607
WYOMING                 213726

In [128]:
df_2004 = pd.read_csv(PATH + "2004.csv", encoding='utf-8-sig')
df_2004.drop('notes', axis=1)
df_2004 = df_2004.drop('writein', axis=1)
df_2004 = df_2004[['state', 'candidatevotes']]
df_2004 = df_2004.groupby('state').sum()
data = pd.read_csv(PATH + "2004.csv", encoding='utf-8-sig')
date_column = data['year'][0]
df_2004.columns = [date_column]
df_2004

                          2004
state
ALABAMA                1883415
ALASKA                  312598
ARIZONA                2012585
ARKANSAS               1054945
CALIFORNIA            12421353
COLORADO               2129630
CONNECTICUT            1578769
DELAWARE                375190
DISTRICT OF COLUMBIA    227586
FLORIDA                7609810
GEORGIA                3301875
HAWAII                  429013
IDAHO                   598376
ILLINOIS               5274322
INDIANA                2468002
IOWA                   1506908
KANSAS                 1187756
KENTUCKY               1795882
LOUISIANA              1943106
MAINE                   740752
MARYLAND               2384238
MASSACHUSETTS          2927455
MICHIGAN               4839252
MINNESOTA              2828387
MISSISSIPPI            1139824
MISSOURI               2731364
MONTANA                 450434
NEBRASKA                778186
NEVADA                  829587
NEW HAMPSHIRE           678287
NEW JERSEY             3611691
NEW MEXICO              756304
NEW YORK               7448266
NORTH CAROLINA         3501007
NORTH DAKOTA            312833
OHIO                   5627903
OKLAHOMA               1463758
OREGON                 1836782
PENNSYLVANIA           5769590
RHODE ISLAND            437134
SOUTH CAROLINA         1617700
SOUTH DAKOTA            388215
TENNESSEE              2437319
TEXAS                  7410749
UTAH                    927844
VERMONT                 312309
VIRGINIA               3195415
WASHINGTON             2859084
WEST VIRGINIA           755792
WISCONSIN              2997007
WYOMING                 243861

In [129]:
df_2008 = pd.read_csv(PATH + "2008.csv", encoding='utf-8-sig')
df_2008.drop('notes', axis=1)
df_2008 = df_2008.drop('writein', axis=1)
df_2008 = df_2008[['state', 'candidatevotes']]
df_2008 = df_2008.groupby('state').sum()
data = pd.read_csv(PATH + "2008.csv", encoding='utf-8-sig')
date_column = data['year'][0]
df_2008.columns = [date_column]
df_2008

                          2008
state
ALABAMA                2099819
ALASKA                  326197
ARIZONA                2293475
ARKANSAS               1086617
CALIFORNIA            13561900
COLORADO               2401361
CONNECTICUT            1646792
DELAWARE                412412
DISTRICT OF COLUMBIA    265853
FLORIDA                8390744
GEORGIA                3924486
HAWAII                  456064
IDAHO                   655122
ILLINOIS               5522371
INDIANA                2751054
IOWA                   1537123
KANSAS                 1235872
KENTUCKY               1826620
LOUISIANA              1960761
MAINE                   731163
MARYLAND               2631596
MASSACHUSETTS          3102995
MICHIGAN               5001596
MINNESOTA              2910369
MISSISSIPPI            1289865
MISSOURI               2925205
MONTANA                 490109
NEBRASKA                801281
NEVADA                  967848
NEW HAMPSHIRE           710970
NEW JERSEY             3868237
NEW MEXICO              830158
NEW YORK               7722019
NORTH CAROLINA         4310851
NORTH DAKOTA            316621
OHIO                   5708350
OKLAHOMA               1462661
OREGON                 1827864
PENNSYLVANIA           6013272
RHODE ISLAND            471766
SOUTH CAROLINA         1920969
SOUTH DAKOTA            381975
TENNESSEE              2599749
TEXAS                  8077795
UTAH                    952370
VERMONT                 325046
VIRGINIA               3723260
WASHINGTON             3036878
WEST VIRGINIA           713451
WISCONSIN              2983417
WYOMING                 254904

In [130]:
df_2012 = pd.read_csv(PATH + "2012.csv", encoding='utf-8-sig')
df_2012.drop('notes', axis=1)
df_2012 = df_2012.drop('writein', axis=1)
df_2012 = df_2012[['state', 'candidatevotes']]
df_2012 = df_2012.groupby('state').sum()
data = pd.read_csv(PATH + "2012.csv", encoding='utf-8-sig')
date_column = data['year'][0]
df_2012.columns = [date_column]
df_2012

                          2012
state
ALABAMA                2074338
ALASKA                  300495
ARIZONA                2299254
ARKANSAS               1069468
CALIFORNIA            13038547
COLORADO               2569516
CONNECTICUT            1558204
DELAWARE                413890
DISTRICT OF COLUMBIA    293764
FLORIDA                8474179
GEORGIA                3897839
HAWAII                  437159
IDAHO                   652274
ILLINOIS               5242014
INDIANA                2624534
IOWA                   1582180
KANSAS                 1159971
KENTUCKY               1797212
LOUISIANA              1994065
MAINE                   724758
MARYLAND               2707327
MASSACHUSETTS          3184196
MICHIGAN               4730961
MINNESOTA              2936561
MISSISSIPPI            1285584
MISSOURI               2757323
MONTANA                 484048
NEBRASKA                794379
NEVADA                 1014918
NEW HAMPSHIRE           710972
NEW JERSEY             3638499
NEW MEXICO              783758
NEW YORK               7116784
NORTH CAROLINA         4505372
NORTH DAKOTA            322932
OHIO                   5580822
OKLAHOMA               1334872
OREGON                 1789270
PENNSYLVANIA           5742040
RHODE ISLAND            446049
SOUTH CAROLINA         1964118
SOUTH DAKOTA            363815
TENNESSEE              2458577
TEXAS                  7993851
UTAH                   1017440
VERMONT                 299290
VIRGINIA               3854489
WASHINGTON             3125516
WEST VIRGINIA           670438
WISCONSIN              3071434
WYOMING                 250701

In [131]:
df_2016 = pd.read_csv(PATH + "2016.csv", encoding='utf-8-sig')
df_2016.drop('notes', axis=1)
df_2016 = df_2016.drop('writein', axis=1)
df_2016 = df_2016[['state', 'candidatevotes']]
df_2016 = df_2016.groupby('state').sum()
data = pd.read_csv(PATH + "2016.csv", encoding='utf-8-sig')
date_column = data['year'][0]
df_2016.columns = [date_column]
df_2016

                          2016
state
ALABAMA                2123372
ALASKA                  318608
ARIZONA                2573165
ARKANSAS               1130635
CALIFORNIA            14181595
COLORADO               2780220
CONNECTICUT            1644920
DELAWARE                441590
DISTRICT OF COLUMBIA    312575
FLORIDA                9420039
GEORGIA                4114732
HAWAII                  437664
IDAHO                   690255
ILLINOIS               5536424
INDIANA                2734958
IOWA                   1565580
KANSAS                 1184402
KENTUCKY               1924149
LOUISIANA              2029032
MAINE                   771892
MARYLAND               2781446
MASSACHUSETTS          3378821
MICHIGAN               4799284
MINNESOTA              2944782
MISSISSIPPI            1209357
MISSOURI               2808605
MONTANA                 494526
NEBRASKA                844227
NEVADA                 1125385
NEW HAMPSHIRE           744296
NEW JERSEY             3874046
NEW MEXICO              798319
NEW YORK               7802084
NORTH CAROLINA         4741564
NORTH DAKOTA            344360
OHIO                   5496487
OKLAHOMA               1452992
OREGON                 2001336
PENNSYLVANIA           6115402
RHODE ISLAND            464144
SOUTH CAROLINA         2103027
SOUTH DAKOTA            370093
TENNESSEE              2508027
TEXAS                  8969226
UTAH                   1131317
VERMONT                 320467
VIRGINIA               3982752
WASHINGTON             3317019
WEST VIRGINIA           713051
WISCONSIN              2976150
WYOMING                 258788

In [132]:
df_2020 = pd.read_csv(PATH + "2020.csv", encoding='utf-8-sig')
df_2020.drop('notes', axis=1)
df_2020 = df_2020.drop('writein', axis=1)
df_2020 = df_2020[['state', 'candidatevotes']]
df_2020 = df_2020.groupby('state').sum()
data = pd.read_csv(PATH + "2020.csv", encoding='utf-8-sig')
date_column = data['year'][0]
df_2020.columns = [date_column]
df_2020

                          2020
state
ALABAMA                2323282
ALASKA                  359530
ARIZONA                3387326
ARKANSAS               1219069
CALIFORNIA            17500881
COLORADO               3279980
CONNECTICUT            1823857
DELAWARE                504346
DISTRICT OF COLUMBIA    344356
FLORIDA               11067456
GEORGIA                4999960
HAWAII                  579784
IDAHO                   868014
ILLINOIS               6033743
INDIANA                3033118
IOWA                   1700130
KANSAS                 1372303
KENTUCKY               2136768
LOUISIANA              2148062
MAINE                   828305
MARYLAND               3037030
MASSACHUSETTS          3658005
MICHIGAN               5539302
MINNESOTA              3277171
MISSISSIPPI            1313759
MISSOURI               3025962
MONTANA                 603674
NEBRASKA                956383
NEVADA                 1405376
NEW HAMPSHIRE           806182
NEW JERSEY             4549353
NEW MEXICO              923965
NEW YORK               8661735
NORTH CAROLINA         5524802
NORTH DAKOTA            361819
OHIO                   5922202
OKLAHOMA               1560699
OREGON                 2374321
PENNSYLVANIA           6915283
RHODE ISLAND            516990
SOUTH CAROLINA         2514096
SOUTH DAKOTA            422609
TENNESSEE              3053851
TEXAS                 11315056
UTAH                   1488289
VERMONT                 370968
VIRGINIA               4460524
WASHINGTON             4087631
WEST VIRGINIA           794652
WISCONSIN              3298041
WYOMING                 278503

In [133]:
from functools import reduce
dfs = [df_1976, df_1980, df_1984, df_1988, df_1992, df_1996, df_2000, df_2004, df_2008, df_2012, df_2016, df_2020]
df_merge = reduce(lambda left, right: pd.merge(left, right, on='state'), dfs)

In [134]:
df_merge.head()

,1976,1980,1984,1988,1992,1996,2000,2004,2008,2012,2016,2020
state,,,,,,,,,,,,
ALABAMA,1182850,1341929,1441713,1378476,1688060,1534349,1666272,1883415,2099819,2074338,2123372,2323282
ALASKA,123574,158445,207605,200116,258506,241620,285560,312598,326197,300495,318608,359530
ARIZONA,742719,873945,1025897,1171873,1486975,1404405,1532016,2012585,2293475,2299254,2573165,3387326
ARKANSAS,767535,837582,884406,827738,950653,884262,921781,1054945,1086617,1069468,1130635,1219069
CALIFORNIA,7803770,8582938,9505041,9887065,11131721,10019469,10965822,12421353,13561900,13038547,14181595,17500881

In [135]:
df_final = pd.merge(df_geo, df_merge, how = 'left', on = 'state')

In [136]:
df_final = df_final.groupby('state').sum()
df_final = pd.merge(state_info, df_final, left_index=True, right_index=True, how = 'left')
df_final.head()

,iso,lat,long,1976,1980,1984,1988,1992,1996,2000,2004,2008,2012,2016,2020
state,,,,,,,,,,,,,,,
ALABAMA,AL,31.646067,-86.889627,1182850,1341929,1441713,1378476,1688060,1534349,1666272,1883415,2099819,2074338,2123372,2323282
ALASKA,AK,24.542507,-112.096555,123574,158445,207605,200116,258506,241620,285560,312598,326197,300495,318608,359530
ARIZONA,AZ,34.675815,-113.721117,742719,873945,1025897,1171873,1486975,1404405,1532016,2012585,2293475,2299254,2573165,3387326
ARKANSAS,AR,34.942879,-91.650766,767535,837582,884406,827738,950653,884262,921781,1054945,1086617,1069468,1130635,1219069
CALIFORNIA,CA,36.159761,-120.356850,7803770,8582938,9505041,9887065,11131721,10019469,10965822,12421353,13561900,13038547,14181595,17500881

In [137]:
df_final['iso'] = df_final['iso'].str.lower()

In [138]:
def create_flag_link(row):
    flag_link = 'https://flagcdn.com/48x36/us-' + row + '.png'
    return flag_link

df_final['iso'] = df_final['iso'].apply(create_flag_link)

In [140]:
df_final.to_csv("election_graph.csv")

In [23]:
import pandas as pd
import json, os 

with open('C:/apps/analysis/election/state_code.json', 'r', encoding='utf-8-sig') as json_file:
    json_data = json.load(json_file)

def country_name_convert(row):
    if row['state'] in json_data:
        return json_data[row['state']]
    return row['state']

def create_dateframe(filename):

    doc = pd.read_csv(PATH + filename, encoding='utf-8-sig')  # 1. csv 파일 읽기
    doc = doc[['state', 'candidatevotes']]  # 2. 특정 컬럼만 선택해서 데이터프레임 만들기
    doc = doc.dropna(subset=['candidatevotes'])     # 3. 특정 컬럼에 없는 데이터 삭제하기
    doc['state'] = doc.apply(country_name_convert, axis=1)   # 4. 'Country_Region'의 국가명을 여러 파일에 일관되게 변경하기
    doc = doc.astype({'candidatevotes': 'int64'})   # 5. 특정 컬럼의 데이터 타입 변경하기
    doc = doc.groupby('state').sum()  # 6. 특정 컬럼으로 중복된 데이터를 합치기

    # 7. 파일명을 기반으로 날짜 문자열 변환하고, 'Confirmed' 컬럼명 변경하기
    date_column = filename.split(".")[0]
    doc.columns = [date_column]
    return doc

In [24]:
import os

def generate_dateframe_by_path(PATH):

    file_list, csv_list = os.listdir(PATH), list()
    first_doc = True
    for file in file_list:
        if file.split(".")[-1] == 'csv':
            csv_list.append(file)
    
    for file in csv_list:
        doc = create_dateframe(file)
        if first_doc:
            final_doc, first_doc = doc, False
        else:
            final_doc = pd.merge(final_doc, doc, how='outer', left_index=True, right_index=True)

    final_doc = final_doc.fillna(0)
    return final_doc

In [25]:
def create_flag_link(row):
    flag_link = 'https://flagcdn.com/48x36/us-' + row + '.png'
    return flag_link
    
PATH = 'C:/apps/analysis/election/'
df_candidatevotes = generate_dateframe_by_path(PATH)
df_candidatevotes = df_candidatevotes.astype('int64')
state_info = pd.read_csv(PATH + "1976.csv", encoding='utf-8-sig')
state_info = state_info[['state', 'state_po']]
state_info = state_info.drop_duplicates(['state'], keep = 'first').groupby('state').sum()
state_info = state_info.rename(columns = {'state_po':'iso'})[['iso']]

doc_final_state = pd.merge(df_candidatevotes, state_info, how='left', on='state')
doc_final_state = doc_final_state.dropna(subset=['iso2'])
doc_final_state['iso2'] = doc_final_state['iso2'].apply(create_flag_link)

cols = doc_final_country.columns.tolist()
cols.remove('iso2')
cols.insert(1, 'iso2')
doc_final_country = doc_final_country[cols]
cols[1] = 'Country_Flag'
doc_final_country.columns = cols

doc_final_country.to_csv("election_graph.csv")

KeyError: "None of [Index(['state', 'candidatevotes'], dtype='object')] are in the [columns]"